@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
.App{
  background-color: rgba(245, 222, 179, 0.19);
  height: 100vh;
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.search{
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
}
.search input{
  margin: 10px;
  width: 60%;
  height: 35px;
  border-radius: 10px;
  text-align: center;
  border: solid black 1px;
  background-color: transparent;
}
::placeholder{
  color: rgb(123, 123, 123);
  font-weight: 600;
}
.search input[type='checkbox']{
  width: 20px;
}
.search div{
  display: flex;
  align-items: center;
}
*{
  margin: 0;
  box-sizing: border-box;
}
.material-symbols-outlined{
  width: 40px;
  height: 40px;
  display: flex;
  font-size: 21px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 5px;
  /* background-color: red; */
  box-shadow: black 0px 0px 5px 0px;
  border: none;
  cursor: pointer;
}
.search_button{
  width: 95px;
  height: 40px;
  border-radius: 20px;
  border: solid black 1px;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .search{
    width: 90%;
  }
}